body{
    padding-left: 30px;
    padding-right: 30px;
}
.li1{
    padding-left: 15px;
}
.li2{
    padding-left: 15px;
}
.li3{
    padding-left: 15px;
}
.li4{
    padding-left: 15px;
}
.li5{
    padding-left: 15px;
}
.li6{
    padding-left: 15px;
}
