*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #111;
}
h1{
    color: blueviolet;
    direction: rtl;
    direction: ltr;
}
p{
    color: rgb(92, 138, 46);
    /* direction: rtl; */
    letter-spacing: 1.5px;
    /* word-spacing: 10px; */
    text-indent: 2cm;
    text-align: center;
    text-align: right;
    text-align: left;
    text-align: justify;
    border: solid 2px #fff;
    width: 80%;
    padding: 20px 40px;
    margin: 20px;
    text-transform: lowercase;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
}
.decoration{
    color: sandybrown;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
#shadow{
    text-align: center ;
    margin: 50px 40px;
    font-size: 5rem;
    text-shadow: 1px 1px 3px rgb(238, 162, 238);
}